<div style="text-align: right; background-color: rgba(0,0,0,.8); padding: 1rem; color: #fff;">
    <style>
        a.black-link {
            color: #ddd;
        };
    </style>
    <a class="black-link" href=".">Home</a> | <a class="black-link" href="https://www.peterjin.org">Back to peterjin.org</a>
</div>
